@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --pricolor: #618264;
    --ibmPlexSDe:"ibm plex sans devanagari", sans serif;
    --ibmPlexSHe:"ibm plex sans hebrew", sans serif;
    --inter: "Inter", sans-serif;
    --background:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    font-size: 1rem;
}

body{
    padding: 2rem 3rem;
    background: var(--background);
}

header{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    font-family: var(--inter);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color:#000E01;
}
.lien{
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.active:hover{
    color:#79AC78;
    text-decoration: underline;
}
button{
    width: 5rem;
    height: 2rem;
    border: 1 solid;
    border-radius: 5rem;
    background:var(--pricolor);
    color:#fff;

}

.menu{
    display: none;
}

span{
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction:row;
    font-family: var(--ibmPlexSHe);
    gap: 5rem;
}

.nganou{
    flex: 5;
}

.btn{
    width: 60rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
}

.un{ 
    background:transparent;
    padding: 0.5rem 1rem ;
    border-left: .5rem solid var(--pricolor);
    color: #000E01;
    display: flex;
}

.enfant{
    display: flex;
    align-items: center;
  
}

.tout h3{
    color: #443434;
    font-size: 1rem;
}


.tout p{
    color: #443434;
    font-size: 1rem;
}
.police {
    display: flex;
    align-items: center;
}

.ville {
    display: flex;
    align-items: center;
   
}

.photo{
    padding: 0 3rem;
    display: flex;
    gap: 7rem;
    font-family: var(--ibmPlexSHe);

}

.photo h6 {
    font-size: 1rem;
}

.photo p{
    font-size: .5rem;
}

.photo img{
    border-radius: 1.4rem;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    font-family: var(--ibmPlexSHe);
    margin: 5rem 10rem;
    gap: 3rem 0;
}

.video img{
    border-radius: 1.4rem;
}

.video h4{
    color:#000E01;
    font-family: var(--ibmPlexSHe);
    font-size: 2rem;
}


.actualite h4{
    display: flex;
    justify-content: center;
    margin: 0 0 5rem 5rem;
    font-size: 2rem;
    font-family: var(--ibmPlexSHe);
    color:#000E01;
}

.actualite .canal{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.actualite .canal h3{
    font-size: 2.5rem;
    color: #618264;
    margin: 0 0 3rem;
}

.text{
    color:#000E01;
    font-size: 1rem;
}

.date{
    color: #000000;
    font-size: 1rem;
    margin:3rem 0;
}

.icone .icone_a{
    margin: 0 2rem 0;
}

.icone .icone_b {
    margin: 0 2rem 0;
}

.icone .icone_c {
    margin: 0 2rem 0;
}

.icone .icone_d {
    margin: 0 2rem 0;
}

.programme img{
    border-radius: 1rem;
}

.programme p {
    font-size: 0.5rem;
    color: #79AC78;
    font-family: var(--inter);

}

.programme h6{
    font-size: 1rem;
    font-family: var(--ibmPlexSHe);
    color:#000E01;
}

.programme .nous{
    margin: 0 5rem;

}

.programme .nous img{
    margin: 3rem 0 0 0;
}

.programme .nous p{
    margin: 4rem 0 0 0;
}
.programme .hom {
    margin: 0 5rem;

}

.programme .presse {
    margin: 0 5rem;

}

.comment h4{
    color: #618264;
    font-size: 2.5rem;
    font-family: var(--ibmPlexSHe);
}

.comment p{
    font-size: 1rem;
    color: #000E01;
}

.comment .jour{
    margin: 0 0 5rem 0;
}

.comment h4{
    margin: 7rem 0 0 0;
}

.comment .comment_a{
    margin: 5rem 0 3rem 0;
}

.comment .icone_a {
    margin: 0 3rem 0;
}

.comment .icone_b {
    margin: 0 3rem 0;
}

.comment .icone_c {
    margin: 0 3rem 0;
}

.comment .icone_d {
    margin: 0 3rem 0;
}

.comment img{
    margin: 5rem 0 0 0 ;
}

.artiste{
    margin: 7rem 0 ;
}

.artiste .barre{
    height: 2rem;
    width: 1rem;
    background: var(--pricolor);
}
.artiste h2{
    color:#618264;
    font-family: var(--ibmPlexSHe);
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    height: 20rem;
}

.africa p{
    font-family:var(--inter) ;
    font-size: .3rem;
    color:#79AC78;
}

.africa h5{
    color:#000E01;
    font-family: var(--ibmPlexSHe);
}

footer{
    margin: 5rem 0 0 0;
    height: 15rem;
    background: #79AC78;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .icone_z .icone_y {
    margin: 1rem 2rem 0 0;
    
}

footer .icone_z .icone_x {
    margin: 1rem 2rem 0 0;

}

footer .icone_z .icone_w {
    margin: 1rem 2rem 0 0;

}

footer .icone_z .icone_v {
    margin: 1rem 2rem 0 0;

}

@media only screen and (max-width:960px){
    header .active{
        display: none;
    }

    button{
        display: none;
    }

    .menu{
        display: block;
        font-size: 2rem;
        margin: 0 0 0 5rem;
    }

    .tout{
        display: flex;
        flex-direction: column;
    }

    .nganou{
        width: 90%;
        height: 100vh;
    }

    .un{
        margin: 3rem;
    }

    .enfant{
        display: flex;
    }

    .police{
        display: flex;
    }
    .ville{
        display: flex;
    }
}
    
